.rectangleControl {
  width: 80px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

canvas {
  border: 1px solid #000000;
}
#controls {
  display: flex;
  gap: 15px;
  margin: 10px;
}